<!DOCTYPE html>
<html>
  <head>
    <title>Eats</title>
    <%# <link rel="icon" type="image/x-icon" href="..//favicon.ico"> %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDyts6Ey3YEEU8-OdzPG5ADqP95tMzgz14" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <script src="https://kit.fontawesome.com/102b64aaf1.js" crossorigin="anonymous"></script>

    <script type="text/javascript">

          window.logoURL="<%=image_url('Eats-logos.jpg')%>";
          window.profileURL="<%=image_url('ramen.jpg')%>";
          window.splash1URL="<%=image_url('chinese.jpg')%>";
          window.splash2URL="<%=image_url('spashRamen.jpg')%>";
          window.splash3URL="<%=image_url('sfBoba.jpg')%>";

    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
